.contact-page {
  padding: 0 $one-half-rem;

  &__heading {
    color: $theme-black;
    font-size: $three-rem;
    font-weight: $font-weight-thin;
    transform: skew(-5deg);
  }
  &__about-me {
    align-items: center;
    background: $off-white;
    border-radius: 3px;
    border: 1px dotted black;
    display: flex;
    margin-top: $one-rem;
    padding: $two-rem $one-rem;
    @media (max-width: 500px) {
      flex-direction: column;
      > p {
        margin-top: $one-half-rem;
        text-align: center;
      }
    }
    > img {
      border: 1px solid $theme-grey;
      border-radius: 50%;
      height: $one-rem * 15;
      min-height: $one-rem * 15;
      margin-right: $two-rem;
      min-width: $one-rem * 15;
      width: $one-rem * 15;
    }
    > p {
      font-size: $one-half-rem;
      line-height: $two-half-rem;
      max-width: $one-rem * 35;
      @media (min-width: 600px) {
        max-width: 100%;
      }
    }
    & a {
      border-bottom: 1px dotted $theme-grey-light;
      &:hover {
        border-color: $theme-green;
      }
    }
  }
}
