.contact-section {
  margin-bottom: $one-half-rem;
  &__about-me {
    align-items: center;
    display: flex;
    padding: $two-rem $one-rem;
    @media (max-width: 500px) {
      flex-direction: column;
      > p {
        margin-top: $one-half-rem;
        text-align: center;
      }
    }
    > img {
      border: 1px solid $theme-grey;
      border-radius: 50%;
      height: $one-rem * 15;
      min-height: $one-rem * 15;
      margin-right: $two-rem;
      min-width: $one-rem * 15;
      width: $one-rem * 15;
    }
    > p {
      font-size: $one-half-rem;
      line-height: $two-half-rem;
      max-width: $one-rem * 35;
      @media (min-width: 600px) {
        max-width: 100%;
      }
    }
    & a {
      border-bottom: 1px dotted $theme-grey-light;
      &:hover {
        border-color: $theme-green;
      }
    }
  }
}
