// colors
$theme-black: black;
$theme-green: #29fd34;
$theme-grey: #666;
$theme-grey-light: lighten($theme-grey, 30%);
// sizes
$half-rem: 0.5rem;
$one-rem: 1rem;
$one-half-rem: 1.5rem;
$two-rem: 2rem;
$two-half-rem: 2.5rem;
$three-rem: 3rem;
$three-half-rem: 3.5rem;
$four-rem: 4rem;
// font weight
$font-weight-thin: 300;
$font-weight-avg: 500;
$font-weight-thick: 700;
// breakpoints
$bp-lg: 700px;
