.section-about {
  background-color: $smoke;
  padding: 25rem 5rem 20rem;
  margin-top: -20rem;
  z-index: -2;
  @include respond(phone) {
    padding: 25rem 2rem 15rem;
  }
  &__content {
    margin: 0 auto;
    max-width: 90rem;
  }
  &__para {
    background-color: darken($smoke, 10%);
    box-shadow: 0 0 5px rgba($charcoal, 0.2);
    position: relative;
    p {
      background-color: $smoke;
      padding: 3rem;
    }
  }
}

.section-skills {
  background-color: darken($smoke, 5%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  margin-top: -10rem;
  padding: 12rem 3rem 30rem;

  @include respond(phone-sm) {
    padding: 12rem 3rem 25rem;
  }

  &__col {
    text-align: center;
    & a {
      &:link,
      &:visited {
        color: $grey;
        display: block;
        text-align: center;
        text-decoration: none;
      }
    }
  }

  &__icon {
    height: 8rem;
    margin-bottom: 1rem;
    width: 8rem;
    @include respond(tab-port) {
      height: 6.5rem;
      width: 6.5rem;
    }
    @include respond(phone) {
      height: 5rem;
      width: 5rem;
    }
    @include respond(phone-sm) {
      height: 4rem;
      width: 4rem;
    }
  }

  &__text-box {
    font-size: 1.7rem;
    letter-spacing: 0.6px;
    & span {
      display: inline-block;
      margin: auto;
    }
    @include respond(tab-port) {
      font-size: 1.4rem;
    }
    @include respond(phone) {
      font-size: 1.1rem;
    }
    @include respond(phone-sm) {
      // fixes centering problem with shorter text labels
      display: inline-block;
      font-size: 0.9rem;
      width: 4rem;
    }
  }
}

.section-projects {
  background-color: $smoke;
  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);
  margin-top: -20rem;
  padding: 15rem 3rem 10rem;
  @include respond(phone) {
    padding: 12rem 0.5rem 5rem;
  }
}
